@import '../common/common';

.bg-f1{
	position:relative;
    height:370px;
    margin-top: 0px;
    background: #eee;
    background-position: center -2px;
    background-repeat: no-repeat;
}

.f1-list{
	top: 12px;
    left: 25px;
    line-height: 10px;
    padding: 6px 10px;
    background-color: rgba(128,138,135,.40);
    color: #fff;
    border-radius: 4px;

}
.f1-list li{
	display:inline-block;
	font-size:25px;
	margin:15px;
}
.f1-list a{
	color:#fff;
	font-family:隶书;
}

.f2-title{
    position: absolute;
    top: 250px;
    left: 355px;
    line-height: 20px;
    padding: 6px 10px;
    background-color: rgba(188,143,143,.50);
    color: #fff;
    border-radius: 4px;
    font-size: 24px;
}
.head-p{
    text-align:center;
}
.nine-small{
    width: 200px;
    height: 200px;
}
.nine-border{
    border-color: rgba(0,0,0,.0);
    border-width:10px;
    border-style: solid;
    border-radius: 50%;
    margin: 30px;
}
.seven-small{
    width: 200px;
    height: 200px;
}
.seven-border{
    border-color: rgba(0,0,0,.0);
    border-width:10px;
    border-style: solid;
    border-radius: 50%;
    margin: 30px;
}
.song-nav{
    text-align: center;
}
.nav-f{
    margin:20px 55px;
    margin-right: 40px;
    padding: 10px 20px;
    font-size: 30px;
    font-family: 隶书;
    color: rgb(255,255,255);
    font-weight: 550;
    background-color: #bdb4ec;
    border-width: 20px;
    border-radius: 20px;
    border-color: #bdb4ec;
}


body{
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    font-family: "Microsoft Yahei";
    line-height: 1.42857143;
    color: #333;
}
div {
    display: block;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    color: #337ab7;
    background-color: transparent;
}
.nav-f1{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

}
.nav{
    display: inline-block;
    height: 39px;
    line-height: 40px;
    border-bottom: none;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.act{
    color: #333;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-bottom: none;
    margin-top: 1px;
    border-radius: 5px 5px 0 0;
    background-color: #FFF;
    cursor: default;
}
.table{
    border-radius: 2px;
    max-width: none;
    width: 1300px;
    margin-bottom: 20px
}
.table-borderd{
    border: 1px solid #ddd;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}
.agent-list{
    border-top: 2px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;

}

.word-v-middle{
    //margin-bottom: 0;
    display: flex;/*Flex布局*/
    align-items: center;
    justify-content: center;
    //color: #87878a;
    white-space: normal;
}
.word-v-middle tr{
    text-align: center;

}
.word-middle th{
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}
.t-boder td{
    border: 1px solid #ddd;
}
.table-sort-header {
    text-decoration: none!important;
}


.main{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 30px;
}
.left{
    width: 50%;
    height: 600px;
    background: #ccc;
    float: left;
}
.right{
    width: 50%;
    height: 600px;
    background: #FCC;
    float: right;
}